/******************** GENERAL CSS SETTINGS *******************/
.set-width-100{
    width: 100%;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(220, 193, 246, 0.8);

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.7);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(51, 51, 51);
}

/********************  SIDE-BAR CSS ********************/

.side-bar{

    background: #9528fa;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2a0845, #9528fa);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2a0845, #9528fa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 150px;
    height: auto;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    border-right: black solid 2px;

}


.side-bar button{

    padding: 10px;
    padding-bottom: 0px;
    width: 100%;
    white-space: nowrap;
}

.side-bar button:hover{

    background: #a448f7;
    color: white;
}

.management-staff-tab,.development-tab{
    display: flex;
    flex-direction: column;
    height: 100%;


}

/******************** STAFF MANAGEMENT TAB HEADER CSS *******************/

.staff-management-tab-header,.development-tab-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #f4f3f3;
    padding-inline: 10px;
    padding-top: 10px;
    height: 130px;
    width: 100%;
    padding-right: 30px;



}

.tab-title-display{
    display: flex;
    justify-content: space-between;
}

.tab-title-display h1{

    background-color: black;
    color: white;
    padding: 5px;
    padding-left: 2px;
    padding-right: 30px;
    display: inline-block;
    font-size: 2em;
    height: fit-content;


}

/******************** STAFF MANAGEMENT TAB BODY CSS *******************/

.staff-management-tab-body,.development-tab-body{

    border-top: 2px solid #000000;
    position: relative;
    height: 100%;


}


/******************** STAFF MANAGEMENT DEPARTMENT TAB LIST CSS *******************/
.staff-management-department-tab-list,.development-type-tab-list{
    display: flex;
    flex-direction: row;
    gap: 0;
    position: absolute;
    bottom: 100%;
    padding-left: 5px;


}
.staff-management-department-tab-list li button,.development-type-tab-list li button{
    border: 2px solid black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 5px;
    border-bottom: none;

}

/******************** STAFF DETAILS LIST CSS *******************/
.main-management-container,.main-development-container{

    height: 100%;
    background: #AA076B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #61045F, #AA076B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #61045F, #AA076B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 1px;

}

.staff-Details{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-inline: 100px;
    margin-top: 10px;



}


/******************** STAFF MEMBERS BOX LIST CSS *******************/

.members-list-box{
    max-width:400px ;
    min-width:400px ;
    max-height: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;


}
.members-list{
    background: #e2e2dd60;
    overflow-y: auto;
    height:100%;
    flex:1;
    width: 100%;
    border: 2px solid #e2e2dd90;
    border-top: none;

}
.members-list-box-heading{
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-block: 5px;
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid rgba(0, 0, 0, 0.56);
    border-bottom: 2px solid rgba(46, 3, 76, 0.3);

}
.member-list-names{
    padding-block: 2px;
    border-bottom:2px solid #e2e2dd90;
    width: 100%;
    display: flex;
    padding: 0;
    color: white;
}

.member-list-names:last-child{
    border-bottom: none;

}

.member-list-names button{
    flex: 1;
    height: 100%;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    text-align: left;
    padding-left: 10px;
}




.member-list-names:not(.selected):hover {

    background: rgba(100, 13, 175, 0.5);
    font-weight: 600;
    color: white;


}


/******************** MEMBERS STATS BOX CSS *******************/

.members-stats-box{
    max-width:400px ;
    min-width:400px ;
    max-height: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    margin-top: 30px;


}
/******************** SKILL PROGRESS BAR CSS *******************/

.skill-progress-bars{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:5px;


}
.progress-bar-label{
    white-space: nowrap;
    padding-left: 10px;
}
.life-label{
    color: white;
    padding-block: 7px;
}

.base-ap-label{
    font-size: 10px;

}
.base-ap-value{
    font-size: 25px;
}
.base-ap{
    color: white;
    background: #b90005;
    padding-right:15px;
    padding-left:5px ;
}
.life{
    flex: 1;
}
.life-and-base-ap{
    display: flex;
    gap:5px;
}


/******************** PROFILE PICTURE CSS *******************/

.member-profile-image-box{
    max-width:325px ;
    min-width:325px ;
    max-height: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;



}
/******************** DEPARTMENT TAB NAME AND LEVEL AND HEAD COUNT*******************/

.department-name-and-level-and-head-count{
    margin-top: 30px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
    color: white;
    font-size: 30px;
}


.level-and-member-count{
    display: flex;
    gap:30px;

}

.member-count{
    display: flex;
    gap:5px;
}

/******************** OPERATIONS TO PERFORM ON STAFF MEMBERS*******************/

.staff-operations{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap:20px;
}

.staff-operations button{
    padding: 5px;
    border-radius: 2px;

}

.transfer-buttons li button{
    background-color: #34da34;
    margin-bottom: 7px;
    width: 100%;
    text-align: left;
    padding-inline: 10px;

}

.kick-out-button{
    background-color: #f13461;
    color: white;
    height: fit-content;
}
/******************** SORTING DROP DOWN *******************/


.sort-drop-down{
    display: flex;
    gap:7px;
    justify-content: flex-end;
    margin-bottom: 10px;

}
.drop-down-selection-box{
    background: #ffffff60;
    border: 2px solid #ffffff;
    color: white;
    outline: none;
    padding-right: 10px;

}
/******************** DEVELOPMENT TYPE TITLE NAME*******************/

.development-type-name-and-item-type{

    margin-top: 30px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
    color: white;
    font-size: 30px;

}

.item-type-name{
    margin-right: 20px;
    color: white;
}

.item-type-list{
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid #ffffff;
}


.item-type-list li{

    align-self: flex-end;
    display: flex;

}
.item-type-list li button{

    color: white;
    border-bottom:none;
    padding: 10px;
    align-self: flex-end;


}

.item-tab-selected{
    background: #ffffff60;
    border: 2px solid #ffffff;
}



.items-development-box{
    display: flex;
    flex-direction: column;
    height: 450px;
    margin-inline: 40px;
    margin-top: 10px;

}

.items-to-develop{
    flex-grow:1;
    background: #ffffff60;
    border: 2px solid #ffffff;
    border-top: none;
    color: white;
    overflow-y: auto;
    padding: 15px;

}
.items-to-develop-list{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap:10px;

}
.item-card{
    background: #ffffff60;
    border: 2px solid #ffffff;
    color: white;
    display: flex;
    min-width: 200px;
    height: 200px;
    gap:10px;
    padding: 5px;
}
.item-name{
    background: rgba(0, 0, 0);
    color: white;
    width: fit-content;
    padding-left:2px;
    padding-right: 10px;
    white-space: normal;
}
.item-details{
    padding: 2px;
    display: flex;
    flex-direction: column;
    color: black;
    width: 100%;

}


.item-card-btn{
    background: #34da34;
    border: 2px solid #000000;
    padding:10px;
    font-size: 14px;
    color: #000000;
    width: 100%;


}

.item-card-btn-developing{
    background: #f1b534;
    border: 2px solid #000000;
    padding:10px;
    font-size: 14px;
    color: #000000;
    width: 100%;
}
.item-card-btn-unmet-requirements{
    background: #959697;
    border: 2px solid #000000;
    padding:10px;
    font-size: 14px;
    color: #000000;
    width: 100%;

}

.item-desc{
    font-size: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:1
}



.start-development-and-see-reqs-btn{
    margin-top: auto;
}

.close-show-req-btn{
    background: #8ee8b5;
    padding-left:2px;
    padding-right: 10px;
}
.all-requirements{
    font-size: 13px;
    display: flex;
    flex-direction: column;

}

.home-tab{
    width: 100%;
    height: 100%;
}
.home-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    padding-block: 30px;
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(56, 50, 50, 0.84) 100%);
}
.user-name-handle{
    border-left: 2px solid #ffffff;
    padding-inline: 10px;
    color: white;

}
.home-title{
    color: white;
}
.items-resources-requirements {
    max-height: 80px;
    overflow-y: auto;
    padding-right: 10px;
}