

/******************** GENERAL CSS SETTINGS *******************/
.set-width-100{
    width: 100%;
    height: 100vh;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(94, 92, 92);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(147, 145, 145);

}

/*!* Handle on hover *!*/
/*::-webkit-scrollbar-thumb:hover {*/
/*    background: rgb(147, 145, 145);*/
/*}*/

/********************  NAV-BAR CSS ********************/

.nav-bar{

    background: #000000;
    width: 150px;
    height: auto;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    border-right: white solid 2px;
    color: white;

}


.nav-bar button{

    padding: 10px;
    padding-bottom: 0px;
    width: 100%;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar button:hover:not(.selected){

    background: rgba(255, 255, 255, 0.2);
    color: white;
}

.management-staff-tab,.development-tab{
    display: flex;
    flex-direction: column;
    height: 100%;


}

/******************** STAFF MANAGEMENT TAB HEADER CSS *******************/

.staff-management-tab-header,.development-tab-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #f4f3f3;
    padding-inline: 10px;
    padding-top: 10px;
    height: 130px;
    width: 100%;
    padding-right: 30px;



}

.tab-title-display{
    display: flex;
    justify-content: space-between;
}

.tab-title-display h1{

    background-color: black;
    color: white;
    padding: 5px;
    padding-left: 2px;
    padding-right: 30px;
    display: inline-block;
    font-size: 2em;
    height: fit-content;


}

/******************** STAFF MANAGEMENT TAB BODY CSS *******************/

.staff-management-tab-body,.development-tab-body{

    border-top: 2px solid #000000;
    position: relative;
    height: 100%;


}


/******************** STAFF MANAGEMENT DEPARTMENT TAB LIST CSS *******************/
.staff-management-department-tab-list,.development-type-tab-list{
    display: flex;
    flex-direction: row;
    gap: 0;
    position: absolute;
    bottom: 100%;
    padding-left: 5px;


}
.staff-management-department-tab-list li button,.development-type-tab-list li button{
    border: 2px solid black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 5px;
    border-bottom: none;

}

/******************** STAFF DETAILS LIST CSS *******************/
.main-management-container,.main-development-container{

    height: 100%;
    background: black;
    padding-top: 1px;

}

.staff-Details{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-inline: 100px;
    margin-top: 10px;



}


/******************** STAFF MEMBERS BOX LIST CSS *******************/

.members-list-box{
    max-width:400px ;
    min-width:400px ;
    max-height: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;


}
.members-list{
    background: #e2e2dd60;
    overflow-y: auto;
    height:100%;
    flex:1;
    width: 100%;
    border: 2px solid #e2e2dd90;
    border-top: none;

}
.members-list-box-heading{
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-block: 5px;

    border: 2px solid #e2e2dd90;


}
.member-list-names{
    padding-block: 2px;
    border-bottom:2px solid #e2e2dd90;
    width: 100%;
    display: flex;
    padding: 0;

}

/*.member-list-names:last-child{*/
/*    border-bottom: none;*/

/*}*/

.member-list-names button{
    flex: 1;
    height: 100%;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    text-align: left;
    padding-left: 10px;

}


.member-list-names:not(.selected){


    color: white;


}


.member-list-names:not(.selected):hover {

    background: rgba(213, 204, 218, 0.5);
    color: black;


}


/******************** MEMBERS STATS BOX CSS *******************/

.members-stats-box{
    max-width:400px ;
    min-width:400px ;
    max-height: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    margin-top: 30px;


}
/******************** SKILL PROGRESS BAR CSS *******************/

.skill-progress-bars{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:5px;


}
.progress-bar-label{
    white-space: nowrap;
    padding-left: 10px;
}
.life-label{
    color: white;
    padding-block: 7px;
}

.base-ap-label{
    font-size: 10px;

}
.base-ap-value{
    font-size: 25px;
}
.base-ap{
    color: white;
    background: #b90005;
    padding-right:15px;
    padding-left:5px ;
}
.life{
    flex: 1;
}
.life-and-base-ap{
    display: flex;
    gap:5px;
}


/******************** PROFILE PICTURE CSS *******************/

.member-profile-image-box{
    max-width:325px ;
    min-width:325px ;
    max-height: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;



}
/******************** DEPARTMENT TAB NAME AND LEVEL AND HEAD COUNT*******************/

.department-name-and-level-and-head-count{
    margin-top: 30px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
    color: white;
    font-size: 30px;
}


.level-and-member-count{
    display: flex;
    gap:30px;

}

.member-count{
    display: flex;
    gap:5px;
}

/******************** OPERATIONS TO PERFORM ON STAFF MEMBERS*******************/

.staff-operations{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap:20px;
}

.staff-operations button{
    padding: 5px;
    border-radius: 2px;

}

.transfer-buttons li button{
    background-color: #02c602;
    margin-bottom: 7px;
    width: 100%;
    text-align: left;
    padding-inline: 10px;

}

.transfer-buttons li button:disabled{
    cursor: not-allowed;
    background-color: #59ed59;
}

.kick-out-button{
    background-color: #f13461;
    color: white;
    height: fit-content;
}
/******************** SORTING DROP DOWN *******************/


.sort-drop-down{
    display: flex;
    gap:7px;
    justify-content: flex-end;
    margin-bottom: 10px;

}
.drop-down-selection-box{
    background: #ffffff60;
    border: 2px solid #ffffff;
    color: white;
    outline: none;
    padding-right: 10px;

}
/******************** DEVELOPMENT TYPE TITLE NAME*******************/

.development-type-name-and-item-type{

    margin-top: 30px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
    color: white;
    font-size: 30px;

}

.item-type-name{
    margin-right: 20px;
    color: white;
}

.item-type-list{
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid #ffffff;
}


.item-type-list li{

    align-self: flex-end;
    display: flex;

}
.item-type-list li button{

    color: white;
    border-bottom:none;
    padding: 10px;
    align-self: flex-end;


}

.item-tab-selected{
    background: #ffffff60;
    border: 2px solid #ffffff;
}



.items-development-box{
    display: flex;
    flex-direction: column;
    height: 450px;
    margin-inline: 40px;
    margin-top: 10px;

}

.items-to-develop{
    flex-grow:1;
    background: #ffffff60;
    border: 2px solid #ffffff;
    border-top: none;
    color: white;
    overflow-y: auto;
    padding: 15px;

}
.items-to-develop-list{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap:10px;

}
.item-card{
    background: #ffffff60;
    border: 2px solid #ffffff;
    color: white;
    display: flex;
    min-width: 200px;
    height: 200px;
    gap:10px;
    padding: 5px;
}
.item-name{
    background: rgba(0, 0, 0);
    color: white;
    width: fit-content;
    padding-left:2px;
    padding-right: 10px;
    white-space: normal;
}
.item-details{
    padding: 2px;
    display: flex;
    flex-direction: column;
    color: black;
    width: 100%;

}


.item-card-btn{
    background: #000000;
    border: 2px solid #ffffff;

    padding:10px;
    font-size: 14px;
    color: #ffffff;
    width: 100%;


}
.item-card-btn:first-child{
    border-bottom: 0;
}

.item-card-btn-developed{
    background: #2461fb;
    border: 2px solid #ffffff;

    padding:10px;
    font-size: 14px;
    color: #000000;
    width: 100%;


}

.item-card-btn-unmet-requirements{
    background: #959697;
    border: 2px solid #ffffff;
    padding:10px;
    font-size: 14px;
    color: #000000;
    width: 100%;

}

.item-desc{
    font-size: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:1
}



.start-development-and-see-reqs-btn{
    margin-top: auto;
}

.close-show-req-btn{
    /*background: #8ee8b5;*/
    background: #ffffff60;
    border: 0.5px solid #ffffff;
    padding-left:5px;
    padding-right: 10px;
}
.all-requirements{
    font-size: 13px;
    display: flex;
    flex-direction: column;

}



.items-resources-requirements {
    max-height: 80px;
    overflow-y: auto;
    padding-right: 10px;
}
.cycling-button{
    display: flex;
    justify-content: space-between;
    padding-inline: 100px;
}
.cycling-button button{
    color: black;
    background-color: #34da34;
    padding: 10px;
    border: black solid 1px;
}

.item-card-btn-developing {
    border: 2px solid #ffffff;
    padding:10px;
    font-size: 14px;
    color: #000000;
    width: 100%;
    text-decoration: none;
    transition: 0.4s;
    background-image: linear-gradient(
            131deg,
            #ffd680 25%,
            #eba422 25%,
            #eba422 50%,
            #ffd680 50%,
            #ffd680 75%,
            #eba422 75%,
            #eba422 100%
    );
    background-size: 53px 60px;
    animation: stripes 4s linear infinite;
}

@keyframes stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 160px 0;
    }
}


.toolbox{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: calc(100vw - 60px);

    button {
        margin-left: 10px;
        width: 2em;
        background-color: red;
    }
}

.mission-select-screen{
    height: 100vh;
    /*background-image:url("/map/world_map.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    background-color: black;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.selected-scout-profile{
    background: #b30b0b;
    display: flex;
    width:fit-content;
    margin-right: 20px;
    border: 1px solid white;
}
.scout-face{
    background: white;
    border: 1px solid white;
    border-right: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
}
.scout-inventory{
    background: black;
    display:flex;
    flex-direction: column;
    color: white;
}
.scout-inventory li{
    /*background: #ffd680;*/
    flex-grow: 1;
    border: 1px solid white;
    padding: 1.5px 2px 2px 2px;
    width:70px;

    display: flex;


}
.scout-inventory li button{
    /*background: #ffd680;*/
    flex-grow: 1;
    background-color: black;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px;
    font-size: 14px;



}

.scout-inventory li button.item-in-inventory {
    background-color: white;
    color: black;
}




.selected-members-showcase{
    display: flex;
}
.team-members-and-start{
    display: flex;
    align-items: center;
    margin-top: 100px;


}


.mission-start-btn {
    align-self: flex-end;
    appearance: none;
    background-color: black;
    border: 1px solid white;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(.694, 0, 0.335, 1),
    color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}
.mission-start-btn.fill-enabled:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: white;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1),
    -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
}

.mission-start-btn.fill-enabled:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.mission-start-btn.fill-enabled:after {
    background-color: #FFFFFF;

}

.mission-start-btn.fill-enabled span {
    z-index: 1;
    position: relative;
    transition: color 200ms cubic-bezier(.694, 0, 0.335, 1);
}

.mission-start-btn.fill-enabled:hover span {
    color: black;
}
.mission-start-btn.fill-enabled span {
    z-index: 1;
    position: relative;

}

.inventory-items-select-container{
    max-width:500px ;
    min-width:500px ;
    min-height: fit-content;
    width: fit-content;
    position: absolute;
    background: rgba(60, 60, 59, 0.90);
    border: 2px solid #e2e2dd90;
    padding: 10px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1;

}

.inventory-items-select-container-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.close-inventory-items-select-container{
    /*background: #ff3375;*/
    padding: 3px;
    padding-inline: 10px;
}


.inventory-items-select-list{

    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid #e2e2dd90;



}
.inventory-items-select-list li{

    align-self: flex-end;
    display: flex;




}

.inventory-items-select-list li button{

    color: white;
    border-bottom:none;
    padding: 10px;
    align-self: flex-end;



}
.active-tab{
    border: 2px solid #e2e2dd90;



}

.all-developed-items{

    /*background-color: red;*/
    max-height: 280px;
    min-height: 280px;
    overflow-y: auto;


}
.item-category{
    margin-top: 10px;

}
.item-category-heading{
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    padding: 10px;

}

.item-category-heading h3{
  align-self: center;
}

.item-category-expand-collapse-btn{

    border: 3px solid rgb(0, 0, 0);
    border-radius: 50%;
    padding: 5px;
    padding-inline: 11px;


}

table{
    margin-top: 10px;
    width: 100%;

}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}
.clear-selection-btn{
    margin-top: 10px;
    background: black;
    border-radius: 1.5rem;
    padding:8px;
    font-size: 13px;
    cursor: pointer;

}

.clear-selection-btn-and-label{
    align-self: flex-end;
}

.clear-selection-btn:hover{
    background: white;
    color: black;

}
.team-selection-and-mission-start{
}
.team-members-and-mission-select-section{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height:300px;

}


.select-mission-header{
    background-color: #d11010;
    color: white;
    position:absolute;
    bottom:90%;
    padding:10px;
    padding-right: 30px;
    margin-left: 25px;
    padding-bottom: 30px;
    font-size: 30px;
}

.mission-select-section{
    padding: 0;
    display: flex;
    border: 1px solid white;
    justify-content: flex-start;
}


/****************************** MAP AND SELECTOR STYLES**********************************/

.map-window{
    width:500px;

    border:2px solid #e2e2dd90;
    overflow: hidden;
    position:relative;
    display: flex;

    border-right: none;
}
.header-and-map-and-missions{
    position:relative;
}
.mission-name-and-description{
    background-color: #d11010;


    position: absolute;
    top:80%;
    left:38%;
    padding:10px;

}

.mission-name{}

.mission-desc{
    width: 500px;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}


.map-and-missions{
    display:flex;
    height: 100%;
    justify-content: space-between;
    flex: 1;
    margin-left: 50px;

}

.mission-list-div{
    /*background-color: #34da34;*/
    border:2px solid #e2e2dd90;
    padding: 3px;
}

.missions-list{
    display: flex;
    flex-direction: column;
    border:0.5px solid #e2e2dd90;
    overflow: auto;
    height:230px;
    width:300px;




}
.mission-list-item-active{
    background-color: #d11010;

}

.mission-list-item{
    padding-block: 2px;
    width: 100%;
    display: flex;
    padding: 0;
    border-bottom: 1px solid #e2e2dd90;

}
.mission-list-item-btn{
    flex: 1;
    height: 100%;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    text-align: left;
    padding-left: 5px;
    padding-right: 10px;
}
/************************************GAME BOARD CSS****************************/

.board{
    height: 100vh;
    /*background-image:url("/map/world_map.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    width: 100vw;
    background-color: black;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-over-screen{
    max-width:500px ;
    min-width:500px ;
    min-height: fit-content;
    width: fit-content;
    position: absolute;
    background: rgba(60, 60, 59, 0.90);
    border: 2px solid #e2e2dd90;
    padding: 10px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1;
}


.cell {
    background-color: #d88e45;
    border: 0.5px solid white;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none


}

.cell:hover{
    background-color: #eda45b;
}


.board-columns {

    width: fit-content;
    /*display: grid;*/
    /*grid-template-columns: repeat(8, 80px);*/
    /*gap: 0;*/
    display: flex;

}

.player-cell{
    background-color: #34da34;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 0.5px solid white;*/
}

.enemy-cell{
    background-color: #2b7cea;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 0.5px solid white;*/
}

.playerSelectBorder{
    border: 5px solid #45ed45;
    background-color: #eda45b;
}

.enemySelectBorder{
    border: 5px solid #ff0026;
    background-color: #eda45b;

}

.attackLocationsSelectBorder{
    border: 1px solid #fae800;
    background-color: #eda45b;

}


.gameplay-area{
    display: flex;
}

.end-turn-btn{
    padding: 20px;
    border: 1px solid white;

}

.img-flip{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.inventory-items{
    display: flex;
    flex-direction: row;
}
.inventory-items-btn{
    padding: 20px;
    border: 1px solid black;

}

.active-click{
    background-color: #34da34;
    border: 1px solid black;
}

.go-back-button{
    padding: 10px;
    border: 1px solid white;

}
/******************************************HOME TAB************************************/

.home-tab{
    width: 100%;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}



.home-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    padding-block: 30px;
    background: rgba(255,255,255,0.5);
    z-index: 1;
}
.user-name-handle{
    border-left: 2px solid #ffffff;
    padding-inline: 10px;
    color: white;

}
.home-title{
    color: white;
}

.home-screen{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
}


.resources-display{
    color: white;
    width: fit-content;
    position: absolute;
    left: 5%;
    top: 60%;

    min-height: fit-content;
    background: rgba(60, 60, 59, 0.90);
    border: 2px solid #e2e2dd90;
    padding: 10px;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: column;
    z-index: 1;
}

.canvas{

    align-self: stretch;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 2px solid #ff0000;*/


}

