@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";


html,body { height:100%; }
body {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.page-default-alignment {
    display: flex;
    min-height: 100vh;
    /* Don't set height: 100vh! */
}




