
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";



html,body { height:100%;user-select: none}
body {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    /*overflow: hidden;*/
}

.page-default-alignment {
    display: flex;
    height: 100vh;

    flex-direction: row;
    @media (max-width: 800px) {
        flex-direction: column-reverse;
        width: 100%;
    }

    /* Don't set height: 100vh! */
}

button{
    cursor: pointer;
}



